/* ==========================================================================
   VARIABLES: Color Library

   Imported through vite.config.ts as @use directive
   Usage: colors.$var
   ========================================================================== */

// Main Colors
$white: #fff;
$black: #121212;
$grey: #dbdbdb;
$green: #73bbc5;

// Typo Colors
$font-main: #fff;
$font-selection: #fff;
$font-grey: #dbdbdb;

// Links
$link-main: #73bbc5;
$link-main-hover: #fff;
$link-main-active: #73bbc5;

// Backgrounds
$bg-body: #090909;
$bg-border-app: #000;
$bg-selection: #73bbc5;

// Deco & Others
$ukraine-blue: #0057b8;
$ukraine-yellow: #ffd700;
